{% extends 'base.html' %}

{% block content %}
    
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Virals</h1>

      <label for="sel1">Choose method   :    </label>
      <select id="methodSelect" title="Choose method" class="selectpicker">
          <option id="all" {% if met == 1 %} selected {% endif %}>All</option>
          <option id="ngrams" {% if met == 2 %} selected {% endif %}>N-grams</option>
          <option id="shingling"{% if met == 3 %} selected {% endif %}>Shingling</option>
          <option id="tfidf"{% if met == 4 %} selected {% endif %}>TFIDF</option>
          <!--<option>Method 4</option>-->
      </select>
      <!--<button type="button" class="btn">Submit</button>-->

      {% for viral in virals %}
      <div class="row">
        <div class="col-md-5">
          <h3 > " {{ viral.viral_id }} "</h3>
          <h4>Status: {{ viral.status }}</h4>
          <p class="mainSnippet" id="{{ viral.viral_id }}">{{ viral.snippet}}</p>
          <a class="btn btn-primary" href="/viral/{{ viral.viral_id }}">View viral</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      {% endfor %}

{% endblock %}
