{% extends 'base.html' %}

{% block content %}
    
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Virals</h1>

      <label for="sel1">Choose method   :    </label>
      <select title="Choose method" class="selectpicker">
          <option>Method 1</option>
          <option>Method 2</option>
          <option>Method 3</option>
          <option>Method 4</option>
      </select>
      <button type="button" class="btn">Submit</button>

      {% for viral in virals %}
      <div class="row">
        <div class="col-md-5">
          <h3 > " {{ viral.viral_id }} "</h3>
          <h4>Status: {{ viral.status }}</h4>
          <p>{{ viral.snippet}}</p>
          <a class="btn btn-primary" href="http://127.0.0.1:5000/viral/{{ viral.viral_id }}">View viral</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      {% endfor %}

{% endblock %}
