{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container" >

      
      <form action="" method="post">
      <div class="row">
        <div class="col-6 order-1" id="sticky-sidebar" style=";">
            <div class="sticky-top"><!-- style="margin-top : 60px">-->
              <div class="col portfolio-item" style="height:80vh" >
                <div class="card h-100">
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="/text/{{ vir_id }}">{{ vir_id}}</a>
                    </h4>
                    <p class="card-text" style="height:70vh ; overflow:auto">{{ viralSnippet }}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col" id="main">  
          {% for article in articles %}
          <div class="col portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/text/{{ article.doc_page_id }}">{{ article.doc_title }}</a>
                </h4>
                <p class="card-text snippetText" id = "{{ article.doc_page_id }}" style="height:70vh ; overflow:auto">{{ article.snippets[vir_id] }}</p>
                <p class="card-text">{{ article.doc_date_start }}</p>
                <input class="form-check-input" type="checkbox" {% if article.issimilar["{{ vir_id }}"] %} checked {% endif %} " id="{{ article.doc_page_id }}", name="virals">
                <label class="form-check-label" for="{{ article.doc_page_id }}">
                  Similar text
                </label>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /.row -->

      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check-all">
          <label class="form-check-label" for="check-all">
            Mark all similar
          </label>
          <button type="button" class="btn" id="submit-similar">Submit mark</button>
      </div>

    </form>

      

    </div>
{% endblock %}
